{% extends 'layout.html' %} {% block style %}
<style>
#plot1,
#plot2 {
    background-color: #2c2f3c;
    margin-bottom: 30px;
}

#plot1 #sys,
#plot2 #my {
    padding: 30px 40px;
}

#plot2 #my {
    height: 230px;
    overflow-y: scroll;
}

#plot2 #add,
#plot1 .cell,
#plot2 .cell {
    color: #535d63;
    text-align: center;
    border: 2px solid #535d63;
    border-radius: 6px;
    font-size: 30px;
    width: 22%;
    height: 170px;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: top;
    -webkit-transition: color, background-color 1s;
    -ms-transition: color, background-color 1s;
    -moz-transition: color, background-color 1s;
    -o-transition: color, background-color 1s;
    transition: color, background-color 1s;
}

#plot1 .cell,
#plot2 .cell {
    padding: 10px 16px;
    border: 2px solid #f2f2f2;
    position: relative;
}

#plot1 .cell:last-child,
#plot2 .cell:last-child {
    margin-right: 0;
}

#plot1 .cell h5,
#plot2 .cell h5 {
    font-size: 16px;
    color: #f2f2f2;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(200, 200, 200, 1);
}

#plot1 .cell p,
#plot2 .cell p {
    font-size: 13px;
    color: #eee;
}

#plot1 .cell:hover,
#plot2 .cell:hover {
    cursor: pointer;
}

#plot1 .cell.active,
#plot2 .cell.active {
    background-color: rgba(117, 179, 117, 0.9);
}

#plot1 .cell.inactive,
#plot2 .cell.inactive {
    background-color: rgba(221, 107, 102, 0.9);
}

#plot1 .cell h6,
#plot2 .cell h6 {
    width: 100%;
    position: absolute;
    bottom: 18px;
    left: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #2c2f3c;
    font-weight: normal;
}

#plot1 .cell span.fa-info,
#plot2 .cell span.fa-info {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 15px;
    color: #fff;
    padding: 5px;
}

#plot1 .cell span.fa-times,
#plot2 .cell span.fa-times {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 15px;
    color: #fff;
    padding: 5px;
}

#plot2 #add:hover {
    cursor: pointer;
    background-color: #252732;
}

#plot2 #add span {
    margin-top: 65px;
}

#add_info,
#show_info {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.8);
    text-align: left;
}

#add_info_content,
#show_info_content {
    width: 820px;
    background-color: rgba(55, 58, 71, 0.8);
    border: 1px solid #ddd;
    padding: 30px 40px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 4px;
    position: relative;
}

#add_info_content input,
#show_info_content input {
    display: inline-block;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    width: 150px;
    background-color: #444650;
    font-size: 13px;
    margin-left: 15px;
}

#add_info_content input:hover {
    cursor: pointer;
}

#add_info_content span.title,
#show_info_content span.title {
    display: inline-block;
    font-weight: normal;
    padding: 4px 10px;
    border: 1px solid #fff;
    border-radius: 1px;
    font-size: 13px;
    margin-right: 20px;
    width: 126px !important;
    text-align: center;
}

#add_info_content span.title:hover {
    cursor: default;
}

#add_info_content span.item,
#show_info_content span.item {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 8px;
    -webkit-transition: color, background-color .3s;
    -ms-transition: color, background-color .3s;
    -moz-transition: color, background-color .3s;
    -o-transition: color, background-color .3s;
    transition: color, background-color .3s;
}

#add_info_content span.item:hover {
    cursor: pointer;
}

#add_info_content span.item.active,
#show_info_content span.item.active {
    background-color: #4a606d;
    color: #fff;
}

#add_info_content button,
#show_info_content button {
    display: inline-block;
    color: #fff;
    outline: none;
    box-shadow: none;
    width: 100px;
    background-color: rgba(55, 58, 71, 1);
    border: 1px solid #fff;
    border-radius: 1px;
    font-size: 13px;
    margin-right: 15px;
}

#add_info_content button:hover,
#show_info_content button:hover {
    background-color: #4a606d;
}

#message {
    position: absolute;
    bottom: -10px;
    right: 0px;
    font-size: 13px;
    color: #bbb;
}

#delete {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.8);
    text-align: left;
}

#delete_content {
    text-align: center;
    width: 360px;
    background-color: rgba(55, 58, 71, 0.8);
    border: 1px solid #ddd;
    padding: 30px 40px;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 4px;
}

#delete_content button {
    display: inline-block;
    color: #fff;
    outline: none;
    box-shadow: none;
    width: 100px;
    background-color: rgba(55, 58, 71, 1);
    border: 1px solid #fff;
    border-radius: 1px;
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
}

#delete_content button:hover {
    background-color: #4a606d;
}

#plot3 {
    height: 258px;
    text-align: center;
}

#balance {
    margin-bottom: 10px;
}

#balance>div {
    width: 30%;
    display: inline-block;
}

#balance h5 {
    margin-top: 5px;
    font-weight: normal;
    color: #999;
    font-size: 13px;
}

#balance p {
    color: #f2f2f2;
}

#plot4 {
    width: 100%;
    height: 230px;
    background-color: #2c2f3c !important;
    margin-bottom: 30px;
}
</style>
{% endblock %} {% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div id="plot3">
            <img src="{{url_for('static', filename='img/avatar.png')}}" alt="" style="width:60px;height:60px;border-radius:50%;margin:25px auto;margin-bottom:10px;">
            <p>{{user}}</p>
            <div id="balance">
                <div>
                    <h5>现金余额</h5>
                    <p>{{dataset['balance']['balance']}}</p>
                </div>
                <div>
                    <h5>投标锁定</h5>
                    <p>{{dataset['balance']['balanceBid']}}</p>
                </div>
                <div>
                    <h5>提现锁定</h5>
                    <p>{{dataset['balance']['balanceWithdraw']}}</p>
                </div>
            </div>
            <p style="color:#888;margin-bottom:5px;">当前启用策略<span style="font-size:20px;color:rgba(221, 107, 102, 0.9);margin-left:10px;margin-right:10px;">{{dataset['strategy_count']}}</span>个</p>
            <p style="color:#888;">累计成功自动投标<span style="font-size:20px;color:rgba(221, 107, 102, 0.9);margin-left:10px;margin-right:10px;">{{dataset['bidding_count']}}</span>个</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div id="plot1">
            <div class="plot-title">系统自动投标策略</div>
            <div id="sys">
                {% for item in dataset['sys'] %} {% if item['active'] == 1%}
                <div class="cell active" id="{{item['id']}}">
                    <h5>{{item['name']}}</h5>
                    <p>{{item['description']}}</p>
                    <h6>已启用</h6>
                    <span class="fa fa-fw fa-info"></span>
                </div>
                {% else %}
                <div class="cell inactive" id="{{item['id']}}">
                    <h5>{{item['name']}}</h5>
                    <p>{{item['description']}}</p>
                    <h6>已停用</h6>
                    <span class="fa fa-fw fa-info"></span>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="plot-title">我的策略偏重</div>
        <div id="plot4">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div id="plot2">
            <div class="plot-title">我的自动投标策略</div>
            <div id="my">
                {% for item in dataset['my'] %} {% if item['active'] == 1%}
                <div class="cell active" id="{{item['id']}}">
                    <h5>{{item['name']}}</h5>
                    <p>{{item['description']}}</p>
                    <h6>已启用</h6>
                    <span class="fa fa-fw fa-info"></span>
                </div>
                {% else %}
                <div class="cell inactive" id="{{item['id']}}">
                    <h5>{{item['name']}}</h5>
                    <p>{{item['description']}}</p>
                    <h6>已停用</h6>
                    <span class="fa fa-fw fa-info"></span>
                    <span class="fa fa-fw fa-times"></span>
                </div>
                {% endif %} {% endfor %} {% if dataset['add'] %}
                <div id='add'><span class='fa fa-fw fa-plus'></span></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div>功能持续更新上线中，敬请期待！</div>
<div id="add_info">
    <div id="add_info_content">
        <h4 style="margin-top:0px;margin-bottom:25px;">
            新增个人投资策略
            <input type="text" name="name" placeholder="策略名称" class="form-control">
            <input type="text" name="description" placeholder="策略描述，不多于20字" class="form-control" style="width:400px;">
        </h4>
        <div style="margin-bottom:10px;">
            <span class="title">初始评级</span>
            <span class="item active all">不限</span>
            <span class="item">AAA</span>
            <span class="item">AA</span>
            <span class="item">A</span>
            <span class="item">B</span>
            <span class="item">C</span>
            <span class="item">D</span>
            <span class="item">E</span>
            <span class="item">F</span>
        </div>
        <div style="margin-bottom:10px;">
            <span class="title">借款金额</span>
            <span class="item active all">不限</span>
            <span class="item">1千以下</span>
            <span class="item">1千至5千</span>
            <span class="item">5千至1万</span>
            <span class="item">1万以上</span>
        </div>
        <div style="margin-bottom:10px;">
            <span class="title">借款期限</span>
            <span class="item active all">不限</span>
            <span class="item">3个月以下</span>
            <span class="item">4至6个月</span>
            <span class="item">6至12个月</span>
            <span class="item">12个月以上</span>
        </div>
        <div style="margin-bottom:10px;">
            <span class="title">借款利率</span>
            <span class="item active all">不限</span>
            <span class="item">13%以下</span>
            <span class="item">14-17%</span>
            <span class="item">18-21%</span>
            <span class="item">22%以上</span>
        </div>
        <!-- <div style="margin-bottom:18px;">
            <b>借款类型</b>
            <span class="active">不限</span>
        </div> -->
        <div style="margin-bottom:10px;">
            <span class="title">是否首标</span>
            <span class="item active all">不限</span>
            <span class="item">是</span>
            <span class="item">否</span>
        </div>
        <div style="margin-bottom:10px;">
            <span class="title">年龄</span>
            <span class="item active all">不限</span>
            <span class="item">20以下</span>
            <span class="item">21-30</span>
            <span class="item">31-40</span>
            <span class="item">41-50</span>
            <span class="item">50以上</span>
        </div>
        <div style="margin-bottom:10px;">
            <span class="title">性别</span>
            <span class="item active all">不限</span>
            <span class="item">男</span>
            <span class="item">女</span>
        </div>
        <div style="margin-bottom:10px;">
            <span class="title">认证情况</span>
            <span class="item active all">不限</span>
            <span class="item">手机认证</span>
            <span class="item">户口认证</span>
            <span class="item">视频认证</span>
            <span class="item">学历认证</span>
            <span class="item">征信认证</span>
            <span class="item">淘宝认证</span>
        </div>
        <div style="margin-bottom:10px;">
            <span class="title">历史成功借款次数</span>
            <span class="item active all">不限</span>
            <span class="item">有成功借款</span>
            <span class="item">无成功借款</span>
        </div>
        <!-- <div style="margin-bottom:10px;">
            <span class="title">历史成功借款金额</span>
            <span class="item active">不限</span>
        </div> -->
        <div style="margin-bottom:10px;">
            <span class="title">总待还本金</span>
            <span class="item active all">不限</span>
            <span class="item">有待还</span>
            <span class="item">无待还</span>
        </div>
        <div style="margin-bottom:10px;">
            <span class="title">历史正常还款期数</span>
            <span class="item active all">不限</span>
            <span class="item">有正常还款记录</span>
            <span class="item">无正常还款记录</span>
        </div>
        <div style="margin-bottom:30px;">
            <span class="title">历史逾期还款期数</span>
            <span class="item active all">不限</span>
            <span class="item">有逾期还款记录</span>
            <span class="item">无逾期还款记录</span>
        </div>
        <div style="position:relative;">
            <input type="text" name="amount" placeholder="单个标投资金额／元" class="form-control" style="position:absolute;right:0;top:-114px;">
            <input type="text" name="timedelta" placeholder="投资时间间隔／分钟" class="form-control" style="position:absolute;right:0;top:-64px;">
            <button id="save" class="form-control">新增</button>
            <button id="cancel" class="form-control">取消</button>
            <p id="message">策略生成后不能再修改，以便进行历史数据统计</p>
        </div>
    </div>
</div>
<div id="show_info">
    <div id="show_info_content">
        <h4 style="margin-top:0px;margin-bottom:25px;">
            投资策略详情
            <input type="text" name="name" placeholder="策略名称" class="form-control" readOnly="readOnly">
            <input type="text" name="description" placeholder="策略描述，不多于20字" class="form-control" style="width:400px;" readOnly="readOnly">
        </h4>
        <div style="margin-bottom:10px;" class="field">
            <span class="title">初始评级</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="AAA">AAA</span>
            <span class="item" name="AA">AA</span>
            <span class="item" name="A">A</span>
            <span class="item" name="B">B</span>
            <span class="item" name="C">C</span>
            <span class="item" name="D">D</span>
            <span class="item" name="E">E</span>
            <span class="item" name="F">F</span>
        </div>
        <div style="margin-bottom:10px;" class="field">
            <span class="title">借款金额</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="1千以下">1千以下</span>
            <span class="item" name="1千至5千">1千至5千</span>
            <span class="item" name="5千至1万">5千至1万</span>
            <span class="item" name="1万以上">1万以上</span>
        </div>
        <div style="margin-bottom:10px;" class="field">
            <span class="title">借款期限</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="3个月以下">3个月以下</span>
            <span class="item" name="4至6个月">4至6个月</span>
            <span class="item" name="6至12个月">6至12个月</span>
            <span class="item" name="12个月以上">12个月以上</span>
        </div>
        <div style="margin-bottom:10px;" class="field">
            <span class="title">借款利率</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="13%以下">13%以下</span>
            <span class="item" name="14-17%">14-17%</span>
            <span class="item" name="18-21%">18-21%</span>
            <span class="item" name="22%以上">22%以上</span>
        </div>
        <!-- <div style="margin-bottom:18px;">
            <b>借款类型</b>
            <span class="active">不限</span>
        </div> -->
        <div style="margin-bottom:10px;" class="field">
            <span class="title">是否首标</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="是">是</span>
            <span class="item" name="否">否</span>
        </div>
        <div style="margin-bottom:10px;" class="field">
            <span class="title">年龄</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="20以下">20以下</span>
            <span class="item" name="21-30">21-30</span>
            <span class="item" name="31-40">31-40</span>
            <span class="item" name="41-50">41-50</span>
            <span class="item" name="50以上">50以上</span>
        </div>
        <div style="margin-bottom:10px;" class="field">
            <span class="title">性别</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="男">男</span>
            <span class="item" name="女">女</span>
        </div>
        <div style="margin-bottom:10px;" class="field">
            <span class="title">认证情况</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="手机认证">手机认证</span>
            <span class="item" name="户口认证">户口认证</span>
            <span class="item" name="视频认证">视频认证</span>
            <span class="item" name="学历认证">学历认证</span>
            <span class="item" name="征信认证">征信认证</span>
            <span class="item" name="淘宝认证">淘宝认证</span>
        </div>
        <div style="margin-bottom:10px;" class="field">
            <span class="title">历史成功借款次数</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="有成功借款">有成功借款</span>
            <span class="item" name="无成功借款">无成功借款</span>
        </div>
        <!-- <div style="margin-bottom:10px;">
            <span class="title">历史成功借款金额</span>
            <span class="item active">不限</span>
        </div> -->
        <div style="margin-bottom:10px;" class="field">
            <span class="title">总待还本金</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="有待还">有待还</span>
            <span class="item" name="无待还">无待还</span>
        </div>
        <div style="margin-bottom:10px;" class="field">
            <span class="title">历史正常还款期数</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="有正常还款记录">有正常还款记录</span>
            <span class="item" name="无正常还款记录">无正常还款记录</span>
        </div>
        <div style="margin-bottom:30px;" class="field">
            <span class="title">历史逾期还款期数</span>
            <span class="item all" name="不限">不限</span>
            <span class="item" name="有逾期还款记录">有逾期还款记录</span>
            <span class="item" name="无逾期还款记录">无逾期还款记录</span>
        </div>
        <div style="position:relative;">
            <input type="text" name="amount" placeholder="单个标投资金额／元" class="form-control" style="position:absolute;right:0;top:-114px;" readOnly="readOnly">
            <input type="text" name="timedelta" placeholder="投资时间间隔／分钟" class="form-control" style="position:absolute;right:0;top:-64px;" readOnly="readOnly">
            <button id="show_info_close" class="form-control">关闭</button>
        </div>
    </div>
</div>
<div id="delete">
    <div id="delete_content">
        <h4 style="margin-top:10px;margin-bottom:40px;">确认删除个人投资策略</h4>
        <div>
            <button id="delete_yes" class="form-control">确认</button>
            <button id="delete_no" class="form-control">取消</button>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('.menu-wrap a').removeClass('active');
    $('#nav3').addClass('active');

    $('#add_info').height($('html').height());
    $('#delete').height($('html').height());

    var datasetJson = eval({{datasetJson | safe}});
    console.log(datasetJson);

    $('#add').click(function(event) {
        $('#add_info').fadeIn();
    });

    $('#add_info_content span.item').click(function(event) {
        if ($(this).text() == '不限') {
            $(this).siblings('span.item').removeClass('active');
            $(this).addClass('active');
        } else {
            $(this).toggleClass('active');
            var count = 0;
            $(this).siblings('span.item').each(function(index, el) {
                if ($(this).text() == '不限') {
                    $(this).removeClass('active');
                }
                if ($(this).hasClass('active')) {
                    count += 1;
                }
            });
            if (count == 0 && !$(this).hasClass('active')) {
                $(this).siblings('span.item.all').addClass('active');
            }
        }
    });

    $('#cancel').click(function(event) {
        $('#add_info').fadeOut();
    });

    $('#save').click(function(event) {
        if ($('#add_info_content input[name="name"]').val() == '' || $('#add_info_content input[name="description"]').val() == '' || $('#add_info_content input[name="amount"]').val() == '' || $('#add_info_content input[name="timedelta"]').val() == '') {
            $('#message').text('策略信息填写不完善');
        } else {
            var data = {};
            $('#add_info_content span.title').each(function(index, el) {
                var key = $(this).text();
                if (!$(this).siblings('span.all').hasClass('active')) {
                    var t = '';
                    $(this).siblings('span.item').each(function(i, e) {
                        if (!$(this).hasClass('all') && $(this).hasClass('active')) {
                            t += $(this).text() + '_';
                        }
                    });
                    data[key] = t.substr(0, t.length - 1);
                }
            });
            data['name'] = $('#add_info_content input[name="name"]').val();
            data['description'] = $('#add_info_content input[name="description"]').val();
            data['amount'] = $('#add_info_content input[name="amount"]').val();
            data['timedelta'] = $('#add_info_content input[name="timedelta"]').val();

            $.ajax({
                    url: '{{url_for("strategy_add")}}',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                })
                .done(function(data) {
                    window.location.reload();
                })
                .fail(function() {})
                .always(function() {});
        }
    });

    $('#plot1 .cell').click(function(event) {
        var $obj = $(this);
        if ($(this).hasClass('active')) {
            $.ajax({
                    url: '{{url_for("strategy_stop")}}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        strategyId: $(this).attr('id'),
                        type: 'sys'
                    },
                })
                .done(function(data) {
                    $obj.removeClass('active').addClass('inactive');
                    $obj.children('h6').text('已停用');
                })
                .fail(function() {})
                .always(function() {});
        } else {
            $.ajax({
                    url: '{{url_for("strategy_start")}}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        strategyId: $(this).attr('id'),
                        type: 'sys'
                    },
                })
                .done(function(data) {
                    $obj.removeClass('inactive').addClass('active');
                    $obj.children('h6').text('已启用');
                })
                .fail(function() {})
                .always(function() {});
        }
    });

    $('#plot2 .cell').click(function(event) {
        var $obj = $(this);
        if ($(this).hasClass('active')) {
            $.ajax({
                    url: '{{url_for("strategy_stop")}}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        strategyId: $(this).attr('id'),
                        type: 'my'
                    },
                })
                .done(function(data) {
                    $obj.removeClass('active').addClass('inactive');
                    $obj.children('h6').text('已停用');
                    $obj.append('<span class="fa fa-fw fa-times"></span>');
                })
                .fail(function() {})
                .always(function() {});
        } else {
            $.ajax({
                    url: '{{url_for("strategy_start")}}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        strategyId: $(this).attr('id'),
                        type: 'my'
                    },
                })
                .done(function(data) {
                    $obj.removeClass('inactive').addClass('active');
                    $obj.children('h6').text('已启用');
                    $obj.children('.fa-times').remove();
                })
                .fail(function() {})
                .always(function() {});
        }
    });

    $('.cell .fa-info').click(function(event) {
        event.stopPropagation();
    });

    var delete_strategyId;
    $('.cell .fa-times').click(function(event) {
        event.stopPropagation();
        delete_strategyId = $(this).parent('.cell').attr('id');
        $('#delete').fadeIn();
    });

    $('#delete_content #delete_yes').click(function(event) {
        $.ajax({
                url: '{{url_for("strategy_delete")}}',
                type: 'POST',
                dataType: 'json',
                data: {
                    strategyId: delete_strategyId
                },
            })
            .done(function(data) {
                window.location.reload();
            })
            .fail(function() {})
            .always(function() {});
    });

    $('#delete_content #delete_no').click(function(event) {
        $('#delete').fadeOut();
    });

    var colorset = ['rgba(221, 107, 102, 0.9)', 'rgba(215, 135, 230, 0.9)', 'rgba(110, 113, 199, 0.9)', 'rgba(109, 188, 191, 0.9)', 'rgba(117, 179, 117, 0.9)', 'rgba(243, 230, 162, 0.9)'];

    var plot4 = echarts.init(document.getElementById('plot4'), 'dark');
    var option4 = {
        color: ['rgba(109, 188, 191, 0.9)'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            top: 30,
            left: 25,
            right: 25,
            bottom: 50,
        },
        xAxis: [{
            type: 'category',
            data: datasetJson['strategy_weight']['x'],
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 12,
                show: true
            },
        }],
        yAxis: [{
            type: 'value',
            splitNumber: 3,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                show: false
            }
        }],
        series: [{
            name: '策略偏重',
            type: 'bar',
            data: datasetJson['strategy_weight']['data']
        }]
    };
    plot4.setOption(option4);

    $('.cell .fa-info').click(function(event) {
        $.ajax({
                url: '{{url_for("strategy_content")}}',
                type: 'POST',
                dataType: 'json',
                data: {
                    strategyId: $(this).parent('.cell').attr('id')
                },
            })
            .done(function(data) {
                $('#show_info_content input[name="name"]').val(data['strategy']['name']);
                $('#show_info_content input[name="description"]').val(data['strategy']['description']);
                $('#show_info_content input[name="amount"]').val(data['strategy']['amount']);
                $('#show_info_content input[name="timedelta"]').val(data['strategy']['timedelta']);

                $('#show_info_content .field').each(function(index, el) {
                    $(this).children('.item').removeClass('active');

                    var title = $(this).children('.title').text();
                    var flag = false;
                    for (var key in data['strategy']['content']) {
                        if (key == title) {
                            flag = true;
                            break
                        }
                    }
                    if (flag) {
                        var li = data['strategy']['content'][title][0].split('_');
                        for (var i = 0; i < li.length; i++) {
                            $(this).children('.item[name="' + li[i] + '"]').addClass('active');
                        }
                    } else {
                        $(this).children('.item.all').addClass('active');
                    }
                });
                $('#show_info').fadeIn();

            })
            .fail(function() {})
            .always(function() {});
    });

    $('#show_info_close').click(function(event) {
        $('#show_info').fadeOut();
    });
});
</script>
{% endblock %}